,

<div class="container">
	<h2>maypage</h2>
	<h3>
		登録情報
		<%= link_to "編集する", edit_end_users_path,method: :get , class: "btn btn-success ml2" %>
		
	</h3>
	<div class="row">
	<div class="col-xs-10">

	<table class="table table-bordered">
		<thead>
			<tr>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="col-xs-3 p">氏名</td>
				<td style="text-align: center;"><%= @end_user.first_name %><%= "  "%><%= @end_user.last_name %></td>
			</tr>
			<tr>
				<td class="col-xs-3 p">ふりがな</td>
				<td style="text-align: center;"><%= @end_user.first_name_kana %><%= "  "%><%= @end_user.last_name_kana %></td>
			</tr>
			<tr>
				<td class="col-xs-3 p">郵便番号</td>
				<td style="text-align: center;"><%= @end_user.add_code %></td>
			</tr>
			<tr>
				<td class="col-xs-3 p">住所</td>
				<td style="text-align: center;"><%= @end_user.address %></td>
			</tr>
			<tr>
				<td class="col-xs-3 p">電話番号</td>
				<td style="text-align: center;"><%= @end_user.phone_number %></td>
			</tr>
			<tr>
				<td class="col-xs-3 p">メールアドレス</td>
				<td style="text-align: center;"><%= @end_user.email %></td>
			</tr>
		</tbody>
	</table>
	<%= link_to "配送先一覧" ,addresses_path ,class:"btn btn-success ml1" %>
	<%= link_to "注文履歴" ,orders_path ,class:"btn btn-success ml1" %>
	<%= link_to "パスワード変更" ,edit_end_user_registration_path ,class:"btn btn-success ml1" %>
	</div>
	
</div>
</div>