index.html.er
<div class="container">
	<div class="row">
	 <%= form_for @genre,url: admin_genres_path do |f| %>
	 <%= f.text_field :name %>
	 <%#= f.radio_button :is_vaild , :exit  %>
	 <%#= f.label :有効 %>
	 <%#= f.radio_button :is_vaild , :not_exit %>
	 <%#= f.label :無効 %>
	 <%#= f.select :is_vaild, Genre.is_vailds.keys.map{|k| [I18n.t("enums.genre.is_vaild.#{k}"),k]}%>
	 <%= f.select :is_vaild,[["有効","exit"],["無効","not_exit"]] %>
	 <%= f.submit :create,class:"btn" %>
	 <% end %>
	</div>
	<div class="row col-xs-10">
		<table class="table table-bordered">
			<thead>
				<tr>
				<th>ジャンル</th>
				<th>状態</th>
				<th class="col-xs-2"></th>
				</tr>
			</thead>
			<tbody>
				<% @gens.each do |gen| %>
				<tr>
					<td><%= gen.name %></td>
					<td><%= gen.is_vaild_i18n %></td>
					<td class="col-xs-2"><%= link_to "編集" ,edit_admin_genre_path(gen),class:"btn btn-primary" %></td>
				</tr>
					 <% end %>
			</tbody>
		</table>
	</div>
</div>