<div class="container">
	<%= form_for(@address) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :郵便番号 %>
		<%= f.text_field :add_code ,class:"jpostal_code"%>
		<%= f.label :発注先住所 %>
		<%= f.text_field :address,class:"jpostal_address" %>
		<%= f.hidden_field :end_user_id,value: current_end_user.id %>
<%#= f.hidden_field :item_id, value: @item.id %>
		<%= f.submit :新規登録 %>
	<% end %>
</div>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>宛名</th>
				<th>郵便番号</th>
				<th>送り家住所</th>
			</tr>
		</thead>
		<tbody>
		<% current_end_user.addresses.each do |f| %>
			<td><%= f.name %></td>
			<td><%= f.add_code %></td>
			<td><%= f.address %></td>
			<td><%= link_to "Edit",edit_address_path(f) %></td>
		<% end %>
		</tbody>
	</table>
</div>