show.html.erb
<div class="container">
<div class="row">
	<div class="col-xs-3">
		
	</div>
	<div class="col-xs-5">
		<%#= attachment_image_tag @item, :image ,format: "jpeg",size: "450x300"%>
		<%= attachment_image_tag @item, :image, size:'300x200', format: "jpg", fallback: "no_image.jpg" %></div>
</div>
<div class="col-xs-4">

		<h2><%= @item.name %></h2>
		<div class="box" style="width: 300px; border:0.1em solid; height: 150px;">
		<%= @item.detail %>
	  </div>
	  <div>
		<p><strong style="font-size: 30px;">￥<%= (@item.no_tax_price * 1.1).round %>円</strong>（税込）</p>
	</div>
	<%= form_with(model: @cart_item, local: true) do |f| %>
<%= f.hidden_field :item_id, value: @item.id %>
<%= f.select :amount, (1..10).each{|n| puts n } %>
<%= f.submit"カートに入れる",class: "btn btn-primary" %>
<% end %>
	</div>	
</div>
</div>